<div class="salesActions">
  <!-- <div class="actions" id="actions">
    <button class="addSale" id="addSale">ADD SALE</button>
    <button class="deleteSale" id="deleteSale">DELETE SALE</button>
  </div> -->
  <button id="fabButton" class="fabButton">
    <i class='bx bx-book' id="openFab"></i>
  </button>
</div>